<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881930666869-ftlfs20otprd3f1j2a0kni1buip402ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881930666869-ftlfs20otprd3f1j2a0kni1buip402ea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881930666869-477f9i7kbcsg46ecmtnlt7hebdg95mmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4L4iDMesahCLzATWIAn2GQRvfO9BLsHE</string>
	<key>GCM_SENDER_ID</key>
	<string>881930666869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practical.example</string>
	<key>PROJECT_ID</key>
	<string>icoderz-fa9d3</string>
	<key>STORAGE_BUCKET</key>
	<string>icoderz-fa9d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881930666869:ios:5487411752e0125f5f093c</string>
</dict>
</plist>